.holder{position:absolute;z-index:2;}
.vline{height:100%;width:1px!important;}
.hline{height:1px!important;width:100%;}
.vline.right{right:0;}
.hline.bottom{bottom:0;}
.handle{background-color:#333;border:1px #eee solid;font-size:1px;}
.tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.dragbar.ord-n,.dragbar.ord-s{height:7px;width:100%;}
.dragbar.ord-e,.dragbar.ord-w{height:100%;width:7px;}
.dragbar.ord-n{margin-top:-4px;}
.dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.dragbar.ord-e{margin-right:-4px;right:0;}
.dragbar.ord-w{margin-left:-4px;}
.light .vline,.light .hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important;}
.light .handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.dark .vline,.dark .hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important;}
.dark .handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
