html,body{
	background:#eee;
	font-family:"Segoe UI Light";
	color:#000;
	width: 100%;
	height: 100%;
	overflow:hidden;
	box-sizing:border-box;
	padding:0;
	margin:0;
	-webkit-user-select: none;
}

div{box-sizing:border-box;}

ul{margin:0;padding:0;}

a,a:hover{
	text-decoration:none;
	color:#000;
	cursor:pointer;
}

input[type="password"], input[type="text"]{
	display:block;
	box-sizing:border-box;
	border:1px #E0E0E0 solid;
	height:32px;
	line-height:32px;	
	padding:0 3px;
	margin:5px 2px;
	-webkit-transition:0.2s;
}

input:hover,textarea:hover{}

input:focus,textarea:focus{
	border: 1px solid #33B5E5;
}
.centredInput{
	width:200px!important;
	margin:5px auto!important;
}

.genericPageHeader{
	width:100%;
	line-height:32px;
	text-align:center;
	border-bottom:3px #33B5E5 solid;
	color:#33B5E5;
}
.genericTooltip{
	padding:5px;
}
.genericFooter{
	width:100%;
	height:48px;
	overflow:hidden;
	border-top:3px #33B5E5 solid;
}
.genericFooter button{
	float:right;
	margin:5px;
}
button{
	display: block;
	box-sizing: border-box;
	border: 1px #33B5E5 solid;
	background-color: #E0E0E0;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	margin: 5px 2px;
	-webkit-transition: 0.2s;
	box-shadow: 0 0 1px #222;
}

button:hover{
	border: 1px #33B5E5 solid;
	background-color: rgba(51, 181, 229, 0.6);
	box-shadow: 0 0 1px #33B5E5;
}

button:active{}

::-webkit-scrollbar {width:3px;}
::-webkit-scrollbar-thumb{background:#0099CC;}
::-webkit-scrollbar-thumb:hover{background:#33B5E5;}

#pageContainer{
	display:none;
	width:100%;
	height:100%;
	overflow:hidden;
	color:#292826;
}

#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:11;
	background-color:rgba(0,0,0,0.7);
}

#overlay h3{
	width:100%;
	line-height:32px;
	font-weight:bold;
	color:#33B5E5;
	margin:0 0 50px 0;
	padding:0;
	border-bottom:2px #33B5E5 solid;
}

#loader{
	position:absolute;
	top:-webkit-calc(50% - 50px);
	left:-webkit-calc(50% - 50px);
	width:100px;
	height:100px;
	padding:10px;
	border-radius:100px;
	background:#fff;
	z-index:100;
	box-shadow:0px 0px 5px #000;
	display:none;
}

#loaderInner{
	width:100%;
	height:100%;
	border-radius: 100px;
	border-right: 1px #33B5E5 solid;
	border-bottom: 1px #33B5E5 solid;
	border-left: 1px transparent solid;
	border-top: 1px transparent solid;
	-webkit-animation:rotate 1s infinite linear;
}

@-webkit-keyframes rotate
{
	from{-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

#loginPanel,#serverOffline,#registrationPanel{
	width:400px;
	height:300px;
	text-align:center;
	position:absolute;
	left:-webkit-calc(50% - 200px);
	top:-webkit-calc(50% - 150px);
	background:#FFF;
	z-index:11;
	border-radius:2px;
	display:none;
}

#signIn,#regSubmit{
	width:200px;
	margin:3px auto;
	cursor:pointer;
}

#signInStatus,#regStatus{
	display:none;
	border: 1px #33B5E5 solid;
	padding:5px;
	margin:5px;
}

.err{border: 1px #CC0000 solid!important;}
.warning{border: 1px #FF8800 solid!important;}

#rightColumn{
	float:left;
	width:-webkit-calc(100% - 320px);
	height:-webkit-calc(100% - 42px);
	overflow:hidden;
	position: relative;
}
#rightColumnHeader{
	overflow:hidden;
	box-shadow:0px 0 10px rgba(0,0,0,0.3);
}

#leftColumn{
	float:left;
	width:320px;
	height:-webkit-calc(100% - 42px);
	overflow:hidden;
	border-right:1px #33B5E5 solid;
}
#leftColumnHeader{
	overflow:hidden;
}
#userBar{
	font-size:32px;
	float:left;
	margin:0 5px;
	cursor:pointer;
	line-height:48px;
	-webkit-transition:0.2s;
}
#userBar:hover{
	color:#33B5E5;
}

#menu{
	background-image: url(../img/dots-v.png);
	background-color: #EEE;
	background-repeat: no-repeat;
	background-position: center right;
	height: 48px;
	margin-left: 288px;
	width: 30px;
	padding-left:30px;
	position: absolute;
	cursor: pointer;
	-webkit-transition: 0.4s;
}

#menu:after{
	content: '';
	width: 40px;
	height: 48px;
	background-image:-webkit-linear-gradient(left, rgba(238, 238, 238, 0), #EEE);
	position: absolute;
	display: block;
	left: -40px;
}

#menu:hover{
	margin-left: 84px;
	width: 234px;
	padding-left:0;
}

#menu:hover div{
	opacity:1;
}

#menuWrapper{
	width: 235px;
}

#menuWrapper div{
	line-height:48px;
	float:left;
	margin-left:10px;
	opacity:0;
	-webkit-transition: 0.4s;
}
#menuWrapper div:hover{
	color:#33B5E5;
}

.page{
	display:none;
	height: 90%;
	width: 90%;
	margin:0 auto;
	background-color:#fff;
	border-radius:0 0 2px 2px;
	overflow: hidden;
}

.genericPageContent{
	height: -webkit-calc(100% - 80px);
}

#settingsDivisionsList{
	width:100%;
	display:block;
	border-bottom:1px #33B5E5 solid;
	overflow:hidden;
}
#settingsDivisionsList li{
	display:block;
	float:left;
	width:100px;
	box-sizing:border-box;
	line-height:32px;
	cursor:pointer;
	margin:0;
	text-align:center;
	-webkit-transition:0.2s;
	border-bottom:5px transparent solid;
}

#profileImage{
	position:absolute;
}

#profileLeft{
	float:left;
}

#ImageArea{
	height: 450px;
	width: 450px;
	margin: 10px;
	position: relative;
}

#UseAnAvatar{
	display:none;
}

/* перевести все визуальные эффекты выделения списков на этот класс в будущем */
.activeListItem{
	color:#fff;
	background-color:#33B5E5!important;
}

.activeTabItem{
	color:#000;
	border-bottom:5px #33B5E5 solid!important;
}

.waitTabItem{
	color:#000;
	border-bottom:5px #FFBB33 solid!important;
}

#settingsDivisionsPages{
	height:100%;
	width:100%;
	overflow:hidden;
}
#settingsDivisionsPagesWrapper{
	width:300%;
}
.settingsDivisionPage{
	width:-webkit-calc(100% / 3);
	height:100%;
	float:left;
}
#channelTabs{
	height: -webkit-calc(100% - 102px);
}
#channelListHeader{
	line-height: 32px;
	overflow:hidden;
	background: #33B5E5;
	color:#fff;
}
#channelListHeader div{
	float:left;
	padding:0 25px;
}
.channel{
	line-height: 32px;
	cursor:pointer;
	overflow:hidden;
}
.channel:hover{
	background: #33B5E5;
	color:#fff;
}
.channel .channelName,.channel .channelHeader{
	float:left;
	padding:0 25px;
}

#friendsTabLink,#channelOnlineTabLink{
	display: block;
	float: left;
	color:#000;
	box-sizing: border-box;
	width: -webkit-calc(100% / 2);
	-webkit-transition: 0.2s;
	background-color: #E0E0E0;
	line-height:48px;
	height:48px;
	text-align: center;
	border-bottom:5px transparent solid;
}

#friendsTabLink{}

#channelOnlineTabLink{}

#tabs{
	overflow:hidden;
	width:400px;
	height:100%;
	border-top: 1px #33B5E5 solid;
}

#tabsWrapper{
	width:800px;
	height:100%;
}
/* TODO :Заменить на friends */
#peopleTab,#channelOnlineTab{
	float:left;
	width:50%;
	height:100%;
}

#peopleTab li{
	display:block;
	line-height:32px;
	cursor:pointer;
}

#peopleTab ul{
	display:block;
	width:50%;
	height:-webkit-calc(100% - 42px);
	overflow:hidden;
}

#channelsRow,#privatesRow{
	float:left;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
	padding:0 0 0 32px;
	border-bottom:1px #33B5E5 solid;
}
#channelsRow{
	background:url(../img/groups.png) no-repeat center left #E0E0E0;
}
#privatesRow{
	display:none;
	background:url(../img/private.png) no-repeat center left #E0E0E0;
}

#channelsRow .channelListItem,#privatesRow .channelListItem{
	position:relative;
	display:block;
	box-sizing:border-box;
	line-height:32px;
	cursor:pointer;
	margin:0;
	padding:0 25px;
	background-color: #E0E0E0;
	-webkit-transition:0.2s;
	outline:1px transparent solid;
	text-align:center;
	width:auto;
	float:left;
	border-bottom:5px transparent solid;
}

#channelsRow .channelListItem:hover{}

#joinChannelForm{
	overflow:hidden;
}

#channelsList{
	overflow-x:hidden;
	height:-webkit-calc(100% - 155px);
}

#joinChannelFormExpander{
	width:32px;
	height:32px;
	line-height:32px;	
	display:block;
	float:left;
	margin:5px 2px;
	background:url(../img/add-group.png) no-repeat center left;
	-webkit-transition:0.2s;
}

#joinChannelField{
	float:left;
	width:200px;
}

#joinChannelSubmit{}

.channelOnlineContainer{
	display:none;
}

.channelOnlineContainer div, .friend{
	cursor:pointer;
	background:url(../img/user.png) no-repeat center left;
	padding: 2px 0 2px 25px;
	-webkit-transition:0.2s;
}
.friend.offline{
	opacity:0.5;
}

#createChannel,#addChannelField{
	float:left;
}

.currentChannel .channelLeave{
	cursor: pointer;
	width:24px;
	height:24px;
	position: absolute;
	top:5px;
	right:0;
	background:url(../img/channel-leave.png) no-repeat;
}
.channelLeave:hover{}

#messages{
	width: 100%;
	height: 100%;
	padding-bottom: 131px;
}

.channelContainer{
	display:none;
}

.currentChannel{}
.currentChannel{
	display:block;
}
.currentChannel .channelLeave{
	display:block;
}

.channelTopic{
	padding:5px;
}

div.currentChannel{
	width:100%;
	height: 100%;
	display:block;
	overflow-y:scroll;
	word-wrap: break-word;
}
#formContainer{
	position: absolute;
	bottom:0;
	width:100%;
	overflow:hidden;
}
#textareaResizer{
	background-color: #E2E2E2;
	cursor:s-resize;
	height:5px;
	width: 100%;
	-webkit-transition:background 0.2s;
}
#textareaResizer:hover{
	background-color: #33B5E5;
}
#messageField{
	display:block;
	float:left;
	border:none;
	resize:none;
	width:-webkit-calc(100% - 100px);
	height:38px;
	margin:5px 2px;
	border:1px #E0E0E0 solid;
	-webkit-transition:border 0.2s;
}
#messageField:focus{
	border:1px #33B5E5 solid;
}

#sendMessage{
	float:left;
}

.message{
	float:left;
	overflow:hidden;
	width:100%;
	padding:5px;
}

.messageInfo{
	float:left;
	width:100px;
	text-align:left;
}

.messageInfo span{
	display:block;
}

.author{
	font-weight:bold;
	cursor:pointer;
}

.me{
	color:#0099CC!important;
	cursor:default!important;
}

.messageContent{
	float:left;
	width:-webkit-calc(100% - 100px);
	padding:5px;
	-webkit-user-select: text;
}

#userContextMenu{
	display:none;
	position:absolute;
	background-color: #fff;
	width: 175px;
	font:normal 10px Tahoma;
	line-height:18px;
	z-index:1;
	border:1px solid #E0E0E0;
	border-radius: 2px;
	text-align:center;
	box-shadow:0px 0px 3px #ccc;
}

.notActiveMenuItem{
	cursor: default!important;
	color: #888;
}
.notActiveMenuItem:hover{
	background-color: #FFF!important;
}

#userContextMenu div{
	float:left;
	line-height:32px;
	width:100%;
	cursor:pointer;
	font-size:15px;
}
#userContextMenu div:hover{
	background-color: #33B5E5;
}
#deleteFromFriends,#addToFriends{
	display:none;
}

.toolTip{
	line-height: 42px;
	padding:0 5px;
	float:left;
	color:#33B5E5;
}
#statusBar{
	height:48px;
	border-top:1px #33B5E5 solid;
	width:100%;
	float:left;
	line-height: 42px;
}
#toUser,#calendar{
	float:left;
	padding: 0 10px;
}

#fileTransferStatus{
	line-height: 22px;
}
#fileTransferNotification{
	line-height: 42px;
}
#otherNotification{
	display:none;
	padding: 0 10px;
}
#fileTransfer,#fileTransferNotification,#fileTransferStatus,#SenderFileTransferNotification{
	display:none;
}
#fileAccept {
	background: url(../img/file-accept.png) no-repeat left top;
	width: 158px;
	cursor: pointer;
	height: 42px;
	padding: 0 0 0 40px;
	-webkit-transition: 0.2s;
	float: left;
}
#fileCancel{
	height:42px;
	width:42px;
	float:left;
	cursor:pointer;
	-webkit-transition:0.2s;
}
#fileAccept:hover{
	background-color:rgba(153, 204, 0, 0.5);
}
#fileCancel{
	background:url(../img/file-cancel.png) no-repeat center top;
}
#fileCancel:hover{
	background-color:rgba(255, 68, 68, 0.5);
}
#fileInfo{
	overflow:hidden;
}
#fileInfo div{
	float:left;
	height: 42px;
	padding:0 10px;
	cursor:pointer;
	-webkit-transition:color 0.2s;
}
#fileInfo div:hover{
	color:#33B5E5;
}
#fileName{
	width: 300px;
	overflow: hidden;
}

#fileName:before{
	content: '';
	display: block;
	width: 42px;
	height: 42px;
	background:-webkit-linear-gradient(left, rgba(238, 238, 238, 0), #EEE);
	position: absolute;
	margin-left: 253px;
}

#progress{
	height: 3px;
	width: -webkit-calc(100% - 60px);
	background: #E0E0E0;
	margin: 5px 8px;
	float:left;
}
#bar{
	background-color: #33B5E5;
	height: 3px;
	width:0;
	-webkit-transition:0.2s;
}
.cancelTransfer{
	float: right;
	height: 42px;
	width: 42px;
	background:url(../img/file-cancel.png) no-repeat center;
}
.cancelTransfer:hover{
	background-color:rgba(255, 68, 68, 0.5);
}
#transferInfo{
	overflow:hidden;
	width: -webkit-calc(100% - 60px);
}
#transferFileName{
	float:left;
	margin: 0px 10px;
}

#transferSpeed{
	float:right;
	margin: 0px 10px;
}